---
// import { menuLinks, siteConfig } from "@/site-config";
import { siteConfig } from "@/site-config";
const url = new URL(Astro.request.url);
const year = new Date().getFullYear();
---

<footer
  class="mt-auto flex w-full items-center justify-center gap-y-2 pb-4 text-center align-top font-semibold text-neutral-600 dark:text-neutral-400 flex-row justify-between text-base"
>
  <div class="font-normal me-0">
    <a
      aria-current={url.pathname === "/" ? "page" : false}
      class="text-xs items-center grayscale hover:filter-none relative inline-block"
      href="/"
    >
      &copy;
      <span class="underline">{siteConfig.author}</span>
      {year}.
    </a>
  </div>
  <a
    aria-current={false}
    href="/">
    <span class="p-1 px-2 bg-black dark:bg-neutral-800 text-white rounded-md text-xs inline-block hover:bg-neutral-700 dark:hover:bg-neutral-700 transition">
      ~
    </span>
  </a>

  <!-- <nav -->
  <!-- 	aria-label="More on this site" -->
  <!-- 	class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500" -->
  <!-- > -->
  <!-- 	{ -->
  <!-- 		menuLinks.map((link) => ( -->
  <!-- 			<a class="px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline" href={link.path}> -->
  <!-- 				{link.title} -->
  <!-- 			</a> -->
  <!-- 		)) -->
  <!-- 	} -->
  <!-- </nav> -->
</footer>
