---
import ScrollToTopButton from "@/components/ScrollToTopButton";
import { siteConfig } from "@/site.config";
const url = new URL(Astro.request.url);
const year = new Date().getFullYear();

const { type } = Astro.props;
---

<footer
	class="mb-8 mt-auto flex w-full flex-row items-center justify-between gap-y-2 text-center align-top font-semibold text-neutral-500 dark:text-zinc-400 sm:mb-16"
	id=""
>
	<div class="me-0 font-normal">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="relative inline-block items-center text-sm grayscale hover:filter-none"
			href="/"
		>
			&copy;
			<span class="">{siteConfig.author}</span>
			{year}.
		</a>
	</div>

	<div class="flex select-none justify-center">
		{type === "post" && <ScrollToTopButton client:load />}

		{
			type === "posts" && (
				<a aria-current={false} href="/">
					<span class="font-alice mr-1 inline-block h-10 w-9 rounded-md bg-black p-1 px-2.5 text-lg text-white transition dark:bg-zinc-800 sm:hover:bg-neutral-700 sm:dark:hover:bg-zinc-700">
						路路
					</span>
				</a>
			)
		}

		{
			type === "post" && (
				<a aria-current={false} href="/posts">
					<span class="font-alice mr-1 inline-block h-10 w-9 rounded-md bg-black p-1 px-2.5 text-lg text-white transition dark:bg-zinc-800 sm:hover:bg-neutral-700 sm:dark:hover:bg-zinc-700">
						路路
					</span>
				</a>
			)
		}

		{
			type !== "home" && type !== "about" && (
				<a aria-current={false} href="/">
					<span class="font-alice inline-block h-10 w-9 rounded-md bg-black p-1 px-2.5 text-lg text-white transition dark:bg-zinc-800 sm:hover:bg-neutral-700 sm:dark:hover:bg-zinc-700">
						~
					</span>
				</a>
			)
		}

		{type === "home" && <span class="font-playfair font-light italic">Life is Awesome</span>}
	</div>
</footer>

<style is:global>
	#footer-font {
		/* font-family: 'Lobster', system-ui; */
		/* font-family: 'IBM Plex Mono', monospace; */
		font-weight: "600";
	}
</style>
