---
import ScrollToTopButton from "@/components/ScrollToTopButton";
import { siteConfig } from "@/site.config";
const url = new URL(Astro.request.url);
const year = new Date().getFullYear();

const { type } = Astro.props;
---

<footer
	class="mb-8 mt-auto flex w-full flex-row items-center justify-between gap-y-2 text-center align-top font-normal text-accent-foreground sm:mb-16"
>
	<div class="me-0">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="relative inline-block items-center text-sm grayscale hover:filter-none"
			href="/"
		>
			&copy;
			<span class="">{siteConfig.author}</span>
			{year}.
		</a>
	</div>

	<div class="font-logo flex select-none justify-center font-bold text-logo-foreground">
		{type === "post" && <ScrollToTopButton client:load />}

		{
			type === "posts" && (
				<a aria-current={false} href="/">
					<span class="mr-1 inline-block h-10 w-9 rounded-md bg-logo p-1 px-2.5 text-lg transition sm:hover:bg-logo-accent">
						路路
					</span>
				</a>
			)
		}

		{
			type === "post" && (
				<a aria-current={false} href="/posts">
					<span class="mr-1 inline-block h-10 w-9 rounded-md bg-logo p-1 px-2.5 text-lg transition sm:hover:bg-logo-accent">
						路路
					</span>
				</a>
			)
		}

		{
			type !== "home" && (
				<a aria-current={false} href="/">
					<span class="inline-block h-10 w-9 rounded-md bg-logo p-1 px-2.5 text-lg transition sm:hover:bg-logo-accent">
						~
					</span>
				</a>
			)
		}

		{type === "home" && <span class="font-italic font-light italic">Life is Awesome</span>}
	</div>
</footer>
