---
import PageLayout from "@/layouts/Base.astro";
import MyLink from "@/components/MyLink";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { FileUser, Mail } from "lucide-react";
import ExperienceSection from "@/components/ExperienceSection";
import HighlightsSection from "@/components/HighlightsSection";
import ProjectsSection from "@/components/ProjectsSection";
import EducationSection from "@/components/EducationSection";
import LeadershipSection from "@/components/LeadershipSection";
import Section from "@/components/about/PorfolioSection.astro";
import Intro from "@/components/layout/Intro.astro";

const meta = {
	description: "About",
	title: "About",
	type: "about",
};
// New content organization

export async function getStaticPaths() {
	return [
		{ params: { lang: "en" } },
		{ params: { lang: "ko" } },
		{ params: { lang: undefined } }, // For default route
	];
}

const lang = getLangFromUrl(Astro.url) || "en";
const t = useTranslations(lang);
---

<PageLayout meta={meta}>
	<Intro title={t("about.title")}>
		<!-- this spacing should align with what's in intro -->
		<div slot="description">
			<div class="font-italic text-[1.1rem] text-base">Full-stack Developer</div>
			<div class="text-base">
				{t("about.description")}
			</div>
		</div>
	</Intro>

	<div class="mb-16 mt-16 flex w-full flex-col justify-center space-y-16">
		<Section title="Now">
			<div class="text-base">
				{t("about.now")}

				<span class="font-italic text-[1.1rem] italic text-accent-foreground"
					>{t("about.open")}</span
				>
			</div>
			<div class="text-base sm:text-base">
				{t("contact.prefix")}
				<MyLink href="mailto:ian@ianpark.dev">
					ian@ianpark.dev
					<Mail className="ml-1 inline-block h-4 w-4" />
				</MyLink>

				{" "}{t("contact.or")}

				<MyLink href=`${lang === "en" ? "/resume.pdf" : "/resume-kr.pdf" }`>
					CV
					<FileUser className="ml-1 inline-block h-4 w-4" />
				</MyLink>

				{t("contact.portfolio")}
			</div>
		</Section>
		<Section title="Skills">
			<HighlightsSection lang={lang} client:load />
		</Section>

		<Section title="Work">
			<ExperienceSection lang={lang} client:load />
		</Section>

		<Section title="Projects">
			<ProjectsSection lang={lang} client:load />
		</Section>

		<Section title="Activities">
			<LeadershipSection lang={lang} client:load />
		</Section>

		<Section title="Education">
			<EducationSection lang={lang} client:load />
		</Section>
	</div>
</PageLayout>
