---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../FormattedDate.astro";

interface Props {
	content: CollectionEntry<"post">;
	readingTime: string;
}

const {
  content: { data },
readingTime
} = Astro.props;

const readTime = readingTime ?? "need to refresh!";

const dateTimeOptions: Intl.DateTimeFormatOptions = {
  month: "short",
  day: "numeric",
  year: "numeric",
};
---

{data.coverImage && (<div class="aspect-[16/9] mb-6">
  <Image
    alt={data.coverImage.alt}
    class="object-cover"
    fetchpriority="high"
    loading="eager"
    src={data.coverImage.src}
  />
</div>)}
{data.draft ? <span class="text-xs sm:text-sm text-textColorFaded">(Draft)</span> : null}

<h1
  class="site-post-title font-playfair title font-medium text-2xl w-fit sm:text-2xl mb-2 sm:mb-1 dark:text-zinc-200"
>

<!-- <h1 -->
<!--   class="site-post-title title font-bold text-xl w-fit sm:text-2xl mb-2 sm:mb-2 dark:text-zinc-200" -->
<!--   style={`view-transition-name: post-title-${id}`} -->
<!-- > -->
  {data.title}
</h1>
<div class="flex flex-wrap items-center gap-x-3 gap-y-0.5">

  <p class="text-sm sm:text-sm text-neutral-500 dark:text-zinc-400">
    <FormattedDate date={data.publishDate} dateTimeOptions={dateTimeOptions} />
    /{" "}
		{readTime}
  </p>
  {data.updatedDate && (<span class="hidden sm:block rounded bg-neutral-200 -mb-0.5 sm:pt-0.5 dark:bg-zinc-800 text-textColor dark:text-zinc-400 text-xs px-2 sm:py-0.5">
    Updated:<FormattedDate class="ms-1" date={data.updatedDate} dateTimeOptions={dateTimeOptions} />
  </span>)}
</div>

