---
import type { CollectionEntry } from "astro:content";
import { getPostSortDate } from "@/data/post";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "../FormattedDate.astro";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
};

const { as: Tag = "div", post } = Astro.props;
const postDate = getPostSortDate(post);
const dateOptions: Intl.DateTimeFormatOptions = {
	day: "2-digit",
	month: "2-digit",
};
const lang = getLangFromUrl(Astro.url) || "en";
const translatePath = useTranslatedPath(lang);
const postUrl = `${translatePath("/posts")}/${post.id}/`;
---

<Tag data-tags={JSON.stringify(post.data.tags)}>
	<a
		href={postUrl}
		data-astro-prefetch
		class="group/item block w-full rounded-md px-2 py-0.5 transition-all duration-200 ease-in-out hover:bg-neutral-50 dark:hover:bg-zinc-800/50"
	>
		<div class="flex w-full flex-row justify-between sm:justify-between sm:gap-2">
			<div class="flex-1">
				<div class="inline-block">
					<span
						class="font-source-serif line-clamp-1 text-base font-normal text-neutral-900 transition-all duration-200 ease-in-out group-hover/item:!text-neutral-700 group-hover/total:text-neutral-400 dark:font-medium dark:text-zinc-200 dark:group-hover/item:!text-zinc-200 dark:group-hover/total:text-zinc-500 sm:text-base"
					>
						{post.data.draft && <span class="text-textColorFaded dark:font-bold">(draft)</span>}
						{post.data.title}
					</span>
				</div>
				<span
					class="line-clamp-1 text-sm text-neutral-500 transition-all duration-200 ease-in-out group-hover/item:!text-neutral-500 group-hover/total:text-neutral-400 dark:text-zinc-400 dark:group-hover/item:!text-zinc-300 dark:group-hover/total:text-zinc-500"
				>
					{post.data.description}
				</span>
			</div>
			<div class="flex">
				<span
					class="text-sm text-neutral-400 transition-all duration-200 ease-in-out group-hover/item:!text-neutral-500 group-hover/total:text-neutral-400 dark:text-zinc-500 dark:group-hover/item:!text-zinc-400 dark:group-hover/total:text-zinc-500 sm:m-auto sm:items-center sm:text-sm"
				>
					<FormattedDate date={postDate} dateTimeOptions={dateOptions} />
				</span>
			</div>
		</div>
	</a>
</Tag>
