---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import "@fontsource/iosevka";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/alice";
import "@fontsource/newsreader/400-italic.css";
import "@fontsource/lobster";
import "@fontsource-variable/inter";
import "@fontsource-variable/eb-garamond";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/source-serif-4";
import "@fontsource/ibm-plex-mono/700.css";
import "@fontsource/ibm-plex-mono/700.css";
import { getLangFromUrl } from "@/i18n/utils";
import type { MarkdownHeading } from "astro";
import TableOfContents from "@/components/TOC";

import { siteConfig } from "@/site.config";

import type { SiteMeta } from "@/types";

import { ClientRouter } from "astro:transitions";
import type { CollectionEntry } from "astro:content";

interface Props {
	meta: SiteMeta;
	post?: CollectionEntry<"post"> | undefined;
	headings?: MarkdownHeading[];
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title, type },
	post,
	headings,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<html class="scroll-smooth" lang={lang}>
	<head>
		<BaseHead
			articleDate={articleDate}
			description={description}
			ogImage={ogImage}
			title={title}
			type={type}
		/>
		<ClientRouter fallback="swap" />
	</head>
	<!-- NOTE: transition for theme toggle -->
	<body
		class="mx-auto overflow-y-scroll bg-background text-sm text-foreground antialiased transition-colors sm:mx-0 sm:flex sm:flex-row sm:justify-center"
	>
		<div class="hidden lg:block"></div>
		<div class="flex min-h-screen max-w-2xl flex-col px-6 pt-8 md:w-[670px] md:pt-32 lg:px-0">
			<ThemeProvider />
			<SkipLink />
			<Header type={type} post={post} />
			<main id="main">
				<slot />
			</main>
			<Footer type={type} />
		</div>
		<div class="relative hidden min-[1160px]:block">
			{
				!!(type === "post" && headings?.length) && (
					<TableOfContents client:load headings={headings} />
				)
			}
		</div>
	</body>
</html>
<style>
	:root {
		scrollbar-gutter: stable both-edges;
	}

	html {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
</style>
